{% extends 'moder_tools.html' %}

{% block tools %}
    <h1 class="top-text">Регистрация элемента арсенала</h1>
    <form action="" method="post" style="margin-left: 30px;">
        {{ form.hidden_tag() }}
        <p class="form-unit">
            {{ form.wtype.label }}<br>
            {{ form.wtype(class="form-control") }}<br>
            {% for error in form.wtype.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="form-unit">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="name") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="form-unit">
            {{ form.obtaining.label }}<br>
            {{ form.obtaining(class="form-control") }}<br>
            {% for error in form.obtaining.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="form-unit">{{ form.submit(type="submit", class="btn btn-outline-secondary") }}</p>
    </form>
{% endblock %}